
DATABASE_URL=""
AUTH_SECRET=
BUNNY_LIBRARY_ID=
BUNNY_API_KEY=

BUNNY_STORAGE_ZONE_NAME=
BUNNY_STORAGE_API_KEY=
BUNNY_CDN_HOSTNAME=
BUNNY_STREAM_CDN_HOSTNAME=

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"

RESEND_API_KEY=""
EMAIL_FROM="yo Curio <yo@gmail.com>"